<div class="list-strong">
  <div class="list-strong__title">Strong side:</div>
  <div class="list-strong__item">
    <div class="list-strong__text">Analytics</div>
    <div class="list-strong__text">Perfectionism</div>
    <div class="list-strong__text">Analytics</div>
  </div>
</div>

<div class="list-weak">
  <div class="list-weak__title">Weak side:</div>
  <div class="list-weak__item">
    <div class="list-weak__text">Perfectionism</div>
    <div class="list-weak__text">Analytics</div>
  </div>
</div>
