$ff: "Roboto", sans-serif;
$transition: 0.3s all ease-in-out;

$white: #fff;

$gray: #8b97a8;

$dark-purple: #595085;
$purple: #3d3270;
$light-purple: #f6f5fb;

$dark-violet: #403572;
$medium-violet: #595085;
$violet: #61598b;

$red: #ff3726;
$medium-red: #ff5648;
$light-red: #fff4f4;

$light-green: #f5f9f9;
$medium-green: #479696;
$green: #479696;
$translucent-green: #8daeae;

$dark-pink: #c93f8d;
$medium-pink: #ff7e73;
$light-pink: #e791be;
$translucent-pink: #fdf9fb;

$orange: #ff5648;
$dark-orange: #a27a7a;
$light-orange: #fff4f4;
